@import url("./src/style/reset.css");
@import url("./src/style/panel.css");
@import url("./src/style/knob.css");
@import url("./src/style/steppers.css");
@import url("./src/style/stepper-controls.css");
@import url("./src/style/panel-section.css");
@import url("./src/style/toggle.css");

body {
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  min-height: 600px;
}

#app {
  height: 100%;
  background-color: #32383f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
}

#play {
  height: 4rem;
  width: 4rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#sequencer {
  padding-top: 0.5rem;
  background-color: rgb(21, 21, 21);
  /* width: 90vw; */
  min-height: 600px;
  height: 90vh;
  width: calc(1.4 * 80vh);
  border-radius: 10px;
}

#controls {
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.4rem;
  /* border-bottom: white solid 0.2rem; */
  width: 100%;
  height: 4rem;
}

.control-group {
  display: flex;
  height: 5rem;
  width: fit-content;
  align-items: center;
  margin-right: 4rem;
}

.control-group input {
  margin: 0 2rem;
}

#tempo {
  margin-left: 2rem;
}

#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  height: 90%;
  /* padding: 0.8rem; */
  width: 100%;
}

#top-panel {
  height: 50%;
  width: inherit;
}

#bottom-panel {
  padding: 0.8rem;
  width: 100%;
  display: flex;
  height: 50%;
}

:root {
  --ring-width: 14%;
  --ring-space: 20%;
  --color-0: #00d0ff;
  --color-1: #9c37fb;
  --color-2: #eeff04;
  --color-3: #2eff04;
  --color-4: #ff0ae6;
  --color-5: #ff9204;
  --color-6: #feaaff;
  --color-7: #ff2929;
}
