@import url("./src/style/reset.css");
@import url("./src/style/panel.css");
@import url("./src/style/knob.css");
@import url("./src/style/steppers.css");
@import url("./src/style/stepper-controls.css");
@import url("./src/style/panel-section.css");
@import url("./src/style/counter.css");
@import url("./src/style/toggle.css");

:root {
  --controls-height: 4rem;
  --main-content-height: calc(100% - (var(--controls-height)));
}

body {
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  min-height: 600px;
}

#app {
  height: 100%;
  background-color: #044a9b;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
}

#play {
  height: 4rem;
  width: 4rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#sequencer {
  padding-top: 0.5rem;
  background-color: rgb(21, 21, 21);
  /* width: 90vw; */
  min-height: 600px;
  height: 90vh;
  width: calc(1.4 * 80vh);
  border-radius: 10px;
}

#controls {
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.4rem;
  /* border-bottom: white solid 0.2rem; */
  width: 100%;
  height: var(--controls-height);
}

.control-group {
  display: flex;
  height: 5rem;
  width: fit-content;
  align-items: center;
  margin-right: 4rem;
}

.control-group input {
  margin: 0 2rem;
}

#tempo {
  margin-left: 2rem;
}

#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: var(--main-content-height);
  width: inherit;
  border: none;
}

#top-panel {
  height: 50%;
  width: inherit;
  border: none;
}

#bottom-panel {
  width: 100%;
  display: flex;
  border: none;
  height: 50%;
  box-sizing: border-box;
  padding: 0.6rem;
  padding-bottom: 1rem;
}

/* ACTIVE STEP ANIMATION */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
