body {
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sequencer {
  padding-top: 0.5rem;
  background-color: rgb(24, 23, 23);
  min-height: 300px;
  height: 70vh;
  width: 80vw;
  min-width: 400px;
  border-radius: 10px;
}

#controls {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: white solid 0.2rem;
  width: 100%;
  height: 10rem;
}

.control-group {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

#tempo {
  margin-left: 2rem;
}

#steppers {
  height: calc(100% - 10rem);
  position: relative;
  width: 100%;
  background-color: rgb(25, 25, 25);
  padding-top: 0.8rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-y: scroll; */
}

.stepper {
  margin-bottom: 0.6rem;
  height: 3.4rem;
  width: 96%;
  display: flex;
  flex-direction: row;
}

.step {
  border-radius: 6px;
  border: rgb(41, 41, 41) 0.2rem solid;
  height: 100%;
  background-color: rgba(86, 86, 86);
  cursor: pointer;
  opacity: 0.4;
  box-sizing: border-box;
}

/* .step:hover {
  animation: bounce 0.6s ease-in-out;
} */
.step.beat[data-selected="off"] {
  background-color: #b0b0b0;
}

[data-ticking="on"] {
  animation: bounce 0.3s ease-in-out;
  background-color: rgb(255, 251, 23);
}
.step.beat[data-ticking="on"] {
  background-color: rgb(178, 255, 62);
}

.step.beat[data-selected="on"] {
  background-color: rgb(40, 255, 176);
}

[data-selected="on"] {
  opacity: 1;
  background-color: rgb(40, 255, 176);
  filter: brightness(0.9);
}

/* ACTIVE STEP ANIMATION */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
