body {
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
}

#play {
  font-size: 1.2rem;
  padding: 0.4rem;
}

#sequencer {
  padding-top: 0.5rem;
  background-color: rgb(24, 23, 23);
  min-height: 300px;
  width: 90vw;
  min-width: 600px;
  border-radius: 10px;
}

#controls {
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: white solid 0.2rem;
  width: 100%;
  height: 4rem;
}

.control-group {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-between;
  margin-right: 4rem;
}

#tempo {
  margin-left: 2rem;
}

#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  height: 75vh;
  /* padding: 0.8rem; */
  width: 100%;
}

#top-panel {
  height: 50%;
  width: inherit;
}

#sound-panel {
  height: 100%;
  width: 100%;
}

#bottom-panel {
  padding: 0.8rem;
  width: 100%;
  display: flex;
  height: 45%;
}

#steppers-controls {
  height: 100%;
  width: 30%;
  display: flex;
  flex: 1;
  cursor: pointer;
  /* min-height: 40vh; */
  flex-direction: column;
  justify-content: space-between;
}

.stepper-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(94% / 8);
  background-color: rgba(255, 255, 255, 0.121);
}

.stepper-controls span {
  color: white;
  box-sizing: border-box;
}

#steppers {
  /* box-sizing: content-box; */
  position: relative;
  flex: 2;
  /* height: 100%; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.4rem;
}

.stepper {
  height: calc(94% / 8);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.step:active {
  animation: bounce 0.3s ease-in-out;
}
.step {
  margin-right: 2px;
  height: 100%;
  background-color: rgba(86, 86, 86);
  cursor: pointer;
  opacity: 0.4;
  box-sizing: border-box;
}

.step.beat[data-selected="off"] {
  background-color: #b0b0b0;
}
.stepper-controls[data-selected="on"] {
  border-radius: 0.2rem;
}
.step[data-selected="on"] {
  filter: brightness(0.6);
  opacity: 1;
}
.step[data-ticking="on"][data-selected="on"] {
  animation: bounce 0.3s ease-in-out;
  filter: brightness(1);
}
[data-ticking="on"] {
  background-color: rgb(255, 251, 23);
}
.step.beat[data-ticking="on"] {
  background-color: rgb(178, 255, 62);
}

.step[data-selected="on"][data-stepper-id="0"] {
  background-color: #00d0ff;
}
.step[data-selected="on"][data-stepper-id="1"] {
  background-color: #9c37fb;
}
.step[data-selected="on"][data-stepper-id="2"] {
  background-color: #eeff04;
}
.step[data-selected="on"][data-stepper-id="3"] {
  background-color: #2eff04;
}
.step[data-selected="on"][data-stepper-id="4"] {
  background-color: #ff0ae6;
}
.step[data-selected="on"][data-stepper-id="5"] {
  background-color: #ff9204;
}
.step[data-selected="on"][data-stepper-id="6"] {
  background-color: #feaaff;
}
.step[data-selected="on"][data-stepper-id="7"] {
  background-color: #ff2929;
}

/* ACTIVE STEP ANIMATION */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
