@import url("./src/style/reset.css");
@import url("./src/style/panel.css");
@import url("./src/style/knob.css");
@import url("./src/style/steppers.css");
@import url("./src/style/stepper-controls.css");
@import url("./src/style/panel-section.css");
@import url("./src/style/counter.css");
@import url("./src/style/loader.css");
@import url("./src/style/toggle.css");
@import url("./src/style/fonts.css");

:root {
  --controls-height: 8%;
  --main-content-height: calc(100% - (var(--controls-height)));
  --sequencer-primary-color: rgb(22, 22, 22);
  --app-background: radial-gradient(
    circle at center,
    rgb(236, 236, 236) 0%,
    rgb(155, 161, 172) 20%,
    rgb(59, 62, 70) 40%,
    rgb(21, 21, 21) 100%
  );
}

body {
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  min-height: 600px;
}

#app {
  font-family: "basico", Verdana, sans-serif;
  font-size: 1rem;
  height: 100%;
  background: var(--app-background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  margin-top: 0.4rem;
  color: rgb(154, 154, 154);
  font-weight: 100;
  visibility: hidden;
}

#footer img {
  max-width: 100%;
  max-height: 100%;
}

#footer a {
  all: unset;
  cursor: pointer;
}

#play {
  height: 3.3rem;
  width: 3.3rem;
  font-size: 1.2rem;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#sequencer {
  border: solid 0.2rem var(--sequencer-primary-color);
  visibility: hidden;
  display: none;
  justify-items: center;
  align-items: center;
  padding-top: 0.5rem;
  background-color: var(--sequencer-primary-color);
  min-height: 600px;
  height: 90vh;
  width: calc(1.4 * 90vh);
  border-radius: 10px;
}

#steppers-loading {
  background-color: rgba(214, 214, 214, 0.215);
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
  font-size: 0.9rem;
  color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.4rem;
  border-bottom: rgb(230, 230, 230) 4px solid;
  width: 100%;
  height: var(--controls-height);
}

#app-title span {
  font-family: "conthrax";
  /* font-family: "retro"; */
  font-size: 2.2rem;
}

#volume,
#tpc {
  width: 3rem;
}

#volume-group,
#tpc-group {
  width: 40%;
}

#volume-group input,
#tpc-group input {
  width: 100%;
}

.control-group {
  display: flex;
  height: 5rem;
  align-items: center;
}

.control-group input {
  margin: 0 2rem;
}

#tempo {
  margin-left: 2rem;
}

#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: var(--main-content-height);
  width: inherit;
  border: none;
}

#top-panel {
  box-sizing: border-box;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  border-color: black;
}

#bottom-panel {
  width: 100%;
  display: flex;
  border: none;
  height: 50%;
  box-sizing: border-box;
  padding: 0.6rem;
  padding-bottom: 1rem;
}

/* ACTIVE STEP ANIMATION */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.06);
  }
  50% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(1);
  }
}
