body {
  height: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
}

#play {
  font-size: 1.8rem;
  padding: 0.6rem;
}
#sequencer {
  padding-top: 0.5rem;
  background-color: rgb(24, 23, 23);
  min-height: 300px;
  width: 80vw;
  min-width: 600px;
  border-radius: 10px;
}

#controls {
  font-size: 1.3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: white solid 0.2rem;
  width: 100%;
  height: 6rem;
}

.control-group {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-between;
  margin-right: 4rem;
}

#tempo {
  margin-left: 2rem;
}

#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  /* padding: 0.8rem; */
  width: 100%;
}

#top-panel {
  /* flex:1; */
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.121);
  width: inherit;
}
#bottom-panel {
  padding: 0.8rem;
  width: 100%;
  display: flex;
}

#steppers-controls {
  height: 100%;
  width: 30%;
  display: flex;
  flex: 1;
  min-height: 40vh;
  flex-direction: column;
  justify-content: space-between;
}

.stepper-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(94% / 8);
  background-color: rgba(255, 255, 255, 0.121);
}

.stepper-controls span {
  color: white;
}

#steppers {
  position: relative;
  flex: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.4rem;
  min-height: 40vh;
}

.stepper {
  height: calc(94% / 8);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.step:active {
  animation: bounce 0.3s ease-in-out;
}
.step {
  margin-right: 2px;
  height: 100%;
  background-color: rgba(86, 86, 86);
  cursor: pointer;
  opacity: 0.4;
  box-sizing: border-box;
}

.step.beat[data-selected="off"] {
  background-color: #b0b0b0;
}

[data-selected="on"] {
  filter: brightness(0.6);
  opacity: 1;
}
.step[data-ticking="on"][data-selected="on"] {
  animation: bounce 0.3s ease-in-out;
  filter: brightness(1);
}
[data-ticking="on"] {
  background-color: rgb(255, 251, 23);
}
.step.beat[data-ticking="on"] {
  background-color: rgb(178, 255, 62);
}

.step[data-selected="on"][data-stepper-id="0"] {
  background-color: rgb(0, 208, 255);
}
.step[data-selected="on"][data-stepper-id="1"] {
  background-color: rgb(156, 55, 251);
}
.step[data-selected="on"][data-stepper-id="2"] {
  background-color: rgb(238, 255, 4);
}
.step[data-selected="on"][data-stepper-id="3"] {
  background-color: rgb(46, 255, 4);
}
.step[data-selected="on"][data-stepper-id="4"] {
  background-color: rgb(255, 10, 230);
}
.step[data-selected="on"][data-stepper-id="5"] {
  background-color: rgb(255, 146, 4);
}
.step[data-selected="on"][data-stepper-id="6"] {
  background-color: rgb(254, 170, 255);
}
.step[data-selected="on"][data-stepper-id="7"] {
  background-color: rgb(255, 41, 41);
}

/* ACTIVE STEP ANIMATION */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
