#footer {
  margin-top: 0.5rem;
  color: rgb(126, 126, 126);
  font-weight: 100;
  visibility: hidden;
  display: flex;
  align-items: center;
}

#footer #separator {
  margin-left: 1rem;
}

#footer-content {
  display: flex;
  align-items: flex-end;
  height: fit-content;
}

#footer img {
  max-width: 100%;
  max-height: 100%;
}

#footer a {
  all: unset;
  cursor: pointer;
}
