:root {
  --ring-width: 14%;
  --ring-space: 20%;
}

.knob-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.6rem;
  height: fit-content;
}

.knob-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0.6rem;
}

.knob-value-container {
  color: #fff;
  display: flex;
  justify-content: center;
}

.knob-value,
.knob-label {
  font-size: 0.8rem;
}

.knob-label {
  color: #fff;
}

.ring {
  position: absolute;
  background: conic-gradient(
    #545c64 140deg,
    rgba(255, 255, 255, 0) 0 220deg,
    #545c64 0deg
  );
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.ring-fill {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.space {
  position: absolute;
  background-color: rgb(21, 21, 21);
  border-radius: 50%;
  width: calc((100%) - var(--ring-width));
  height: calc((100%) - var(--ring-width));
}

.knob {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: linear-gradient(#6d757f, #596067);
  border-radius: 50%;
  width: calc((100%) - (var(--ring-width) + var(--ring-space)));
  height: calc((100%) - (var(--ring-width) + var(--ring-space)));
  cursor: pointer;
}

.knob-indicator-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.knob-indicator {
  background: #16181a;
  width: 9%;
  height: 35%;
  margin-top: 4%;
}
