:root {
  --ring-width: 14%;
  --ring-space: 20%;
  --knob-color-1: rgb(67, 68, 67);
  --knob-color-2: rgb(40, 38, 38);
}

.knob-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 1rem 0 1rem;
  height: fit-content;
}

.knob-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0.6rem;
}

.knob-value-container {
  color: #fff;
  display: flex;
  justify-content: center;
}

.knob-label,
.knob-value {
  font-size: 0.8rem;
}

.knob-label {
  color: #fff;
  margin: 0.2rem 0px;
}

.knob-label-container {
  display: flex;
  flex-wrap: nowrap;
}

.ring {
  position: absolute;
  background: conic-gradient(
    #545c64 140deg,
    rgba(176, 161, 161, 0) 0 220deg,
    #545c64 0deg
  );
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.ring-fill {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.space {
  position: absolute;
  background-color: rgb(21, 21, 21);
  border-radius: 50%;
  width: calc((100%) - var(--ring-width));
  height: calc((100%) - var(--ring-width));
}

.knob {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: radial-gradient(
    circle at center,
    rgb(74, 73, 73) 0%,
    rgb(75, 74, 74) 20%,
    rgb(49, 49, 52) 40%,
    rgb(34, 34, 34) 100%
  );
  border-radius: 50%;
  width: calc((100%) - (var(--ring-width) + var(--ring-space)));
  height: calc((100%) - (var(--ring-width) + var(--ring-space)));
  cursor: pointer;
}

.knob-indicator-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.knob-indicator {
  background: #ffffff;
  width: 9%;
  height: 35%;
  margin-top: 4%;
}
