#sound-panel {
  --container-border-radius: 10px;
  --section-background-color: rgb(33, 33, 33);
  --panel-section-padding: 0.6rem 1.8rem;
  --panel-section-border: rgb(209, 209, 209) solid 0.2rem;
  box-sizing: border-box;
  background-color: var(--sequencer-primary-color);
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1rem 0rem;
}

#sample-name {
  font-size: 2rem;
  /* CSS variable */
}

.sample-details {
  background-color: var(--sequencer-primary-color);
  box-sizing: border-box;
  width: 30%;
  padding: var(--panel-section-padding);
  color: white;
  height: 100%;
  border-right: rgb(209, 209, 209) solid 0.15rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.effect-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.effect-group span {
  margin-top: 0.6rem;
}

input[type="range"] {
  --slider-track-color: rgba(220, 220, 220, 1);
  --slider-progress-color: rgb(126, 126, 126);
  --slider-thumb-color: rgb(30, 29, 29);
  --slider-thumb-height: 1.4rem;
  --slider-thumb-width: 0.8rem;
  --thumb-border-width: 0.15rem;
  --slider-height: 0.2rem;
  --slider-width: 1.8rem;
  --slider-border-radius: 50px;
  --track-border-radius: 2px;
  margin-top: 1rem;
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  height: var(--slider-height);
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  border-radius: var(--track-border-radius);
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: var(--slider-height);
  border-radius: var(--track-border-radius);
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: var(--slider-height);
  border-radius: var(--track-border-radius);
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  border-radius: 20%;
  border: solid rgb(115, 113, 113);
  border-width: var(--thumb-border-width);
  box-sizing: content-box;
  transform: translateY(
    calc(
      (-1 * (var(--slider-thumb-height) / 2) - var(--thumb-border-width)) +
        var(--slider-height) / 2
    )
  );
  background-color: var(--slider-thumb-color);
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  border-radius: 20%;
  border: solid rgb(115, 113, 113);
  border-width: var(--thumb-border-width);
  box-sizing: content-box;
  background-color: var(--slider-thumb-color);
}
