.panel-section {
  height: 30%;
  box-sizing: border-box;
  border-right: var(--panel-section-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}

.panel-section-title {
  color: black;
  background-color: whitesmoke;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  /* Font has weird offset towards top */
  padding-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-section-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  /* padding: 0 var(--panel-section-padding); */
}
