#sound-panel {
  box-sizing: border-box;
  padding: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

#sample-name {
  font-size: 2rem;
  /* CSS variable */
}

.sample-details {
  box-sizing: border-box; /* CSS variable */
  width: 30%;
  padding: 0.3rem 2.5%; /* CSS variable */
  color: white;
  background-color: rgb(24, 23, 23); /* CSS variable */
  height: 100%;
  border-radius: 10px; /* CSS variable */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.effect-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.effect-group span {
  margin-top: 0.6rem;
}

input[type="range"] {
  --slider-track-color: rgba(220, 220, 220, 1);
  --slider-progress-color: rgb(126, 126, 126);
  --slider-thumb-color: rgb(30, 29, 29);
  --slider-thumb-height: 1.4rem;
  --slider-thumb-width: 1.8rem;
  --thumb-border-width: 0.15rem;
  --slider-height: 0.3rem;
  --slider-width: 1.8rem;
  --slider-border-radius: 50px;
  --track-border-radius: 2px;
  margin-top: 1rem;
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  height: var(--slider-height);
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  border-radius: var(--track-border-radius);
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: var(--slider-height);
  border-radius: var(--track-border-radius);
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: var(--slider-height);
  border-radius: var(--track-border-radius);
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  border-radius: 20%;
  border: solid rgb(115, 113, 113);
  border-width: var(--thumb-border-width);
  box-sizing: content-box;
  transform: translateY(
    calc(
      (-1 * (var(--slider-thumb-height) / 2) - var(--thumb-border-width)) +
        var(--slider-height) / 2
    )
  );
  background-color: var(--slider-thumb-color);
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  border-radius: 20%;
  border: solid rgb(115, 113, 113);
  border-width: var(--thumb-border-width);
  box-sizing: content-box;
  background-color: var(--slider-thumb-color);
}
