.panel-section {
  /* min-height: 5rem; */
  width: 40%;
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  /* display: flex; */
  /* flex-direction: column; */
  padding: 0.3rem 2.5%;
}

.panel-section-title {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  /* background-color: white; */
}

.panel-section-controls {
  /* background-color: aqua; */
  width: 100%;
  height: 20rem;
}
