.panel-section {
  height: fit-content;
  width: fit-content;
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  padding: 0.3rem 1%;
}

.panel-section-title {
  font-size: 1rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-section-controls {
  display: flex;
  width: 100%;
}
