#sound-panel {
  box-sizing: border-box;
  padding: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

#sample-name {
  font-size: 2rem;
  /* CSS variable */
}

.sample-details {
  box-sizing: border-box; /* CSS variable */
  width: 30%;
  padding: 0.3rem 2.5%; /* CSS variable */
  color: white;
  background-color: rgb(24, 23, 23); /* CSS variable */
  height: 100%;
  border-radius: 10px; /* CSS variable */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.effect-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

/* .panel-range-input {

} */
input[type="range"] {
  --slider-track-color: rgb(227, 227, 227);
  --slider-progress-color: rgb(126, 126, 126);
  --slider-thumb-color: black;
  --slider-thumb-height: 3rem;
  --slider-height: 0.8rem;
  --slider-width: 0.8rem;
  --slider-border-radius: 50px;
  margin-top: 1rem;
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  /*  slider progress trick  */
  overflow: hidden;
  border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  height: var(--slider-height);
  background: var(--slider-track-color);
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: var(--slider-height);
  background: var(--slider-track-color);
  border-radius: 16px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: var(--slider-height);
  width: var(--slider-width);
  background-color: var(--slider-thumb-color);
  border-radius: 50%;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px var(--slider-progress-color);
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: var(--slider-height);
  width: var(--slider-width);
  background-color: var(--slider-thumb-color);
  border-radius: 50%;
  box-shadow: -407px 0 0 400px var(--slider-progress-color);
}
