#sound-panel {
  box-sizing: border-box;
  padding: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

#sample-name {
  font-size: 2rem;
  /* CSS variable */
}

.sample-details {
  box-sizing: border-box; /* CSS variable */
  width: 30%;
  padding: 0.3rem 2.5%; /* CSS variable */
  color: white;
  background-color: rgb(24, 23, 23); /* CSS variable */
  height: 100%;
  border-radius: 10px; /* CSS variable */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.effect-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
