.panel-section {
  height: 40%;
  box-sizing: border-box;
  padding: var(--panel-section-padding);
  border-right: var(--panel-section-border);
}

.panel-section-title {
  font-size: 1rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-section-controls {
  display: flex;
  width: 100%;
  justify-content: center;
}
