#sound-panel {
  box-sizing: border-box;
  padding: 0.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

#sample-name {
  font-size: 2rem;
}

.sample-details {
  box-sizing: border-box;
  width: 100%;
  padding: 0.6rem;
  color: white;
  background-color: rgb(24, 23, 23);
  height: 100%;
  min-width: 25rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.effect-group {
  width: 90%;
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  margin: 0.4rem 0;
}
