#steppers-controls {
  height: 100%;
  width: 30%;
  min-width: 400px;
  display: flex;
  flex: 1;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}

.stepper-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(94% / 8);
  background-color: rgb(64, 63, 63);
  box-sizing: border-box;
  color: white;
  border-left: 0.5rem solid transparent;
  border-radius: 4px;
}

.stepper-controls[data-selected="off"] {
  border-color: rgb(80, 80, 80);
}

.stepper-controls span {
  box-sizing: border-box;
}

.solo-mute-container,
.stepper-info-container,
.stepper-resize-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  font-size: 0.8rem;
}

.stepper-info-container {
  flex: 1;
}

.solo-mute-container {
  flex: 2;
}

.stepper-resize-container {
  flex: 8;
}
