#steppers {
  /* box-sizing: content-box; */
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.4rem;
}

.stepper {
  height: calc(94% / 8);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.step:active {
  animation: bounce 0.3s ease-in-out;
}

.step {
  border-radius: 0.15rem;
  margin-right: 2px;
  height: 100%;
  background-color: rgba(86, 86, 86);
  cursor: pointer;
  opacity: 0.4;
  box-sizing: border-box;
}

.step.beat[data-selected="off"] {
  background-color: #b0b0b0;
}
.stepper-controls[data-selected="on"] {
  border-radius: 0.2rem;
}
.step[data-selected="on"] {
  filter: brightness(0.6);
  opacity: 1;
}
.step[data-ticking="on"][data-selected="on"] {
  animation: bounce 0.25s ease-in-out;
  filter: brightness(1);
}
[data-ticking="on"] {
  background-color: rgb(255, 251, 23);
}
.step.beat[data-ticking="on"] {
  background-color: rgb(178, 255, 62);
}

.step[data-selected="on"][data-stepper-id="0"] {
  background-color: var(--color-0);
}
.step[data-selected="on"][data-stepper-id="1"] {
  background-color: var(--color-1);
}
.step[data-selected="on"][data-stepper-id="2"] {
  background-color: var(--color-2);
}
.step[data-selected="on"][data-stepper-id="3"] {
  background-color: var(--color-3);
}
.step[data-selected="on"][data-stepper-id="4"] {
  background-color: var(--color-4);
}
.step[data-selected="on"][data-stepper-id="5"] {
  background-color: var(--color-5);
}
.step[data-selected="on"][data-stepper-id="6"] {
  background-color: var(--color-6);
}
.step[data-selected="on"][data-stepper-id="7"] {
  background-color: var(--color-7);
}

:root {
  --ring-width: 14%;
  --ring-space: 20%;
  --color-0: #00d0ff;
  --color-1: #9c37fb;
  --color-2: #eeff04;
  --color-3: #ff0ae6;
  --color-4: #2eff04;
  --color-5: #ff9204;
  --color-6: #feaaff;
  --color-7: #ff2929;
}
