#steppers {
  position: relative;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.4rem;
}

.stepper {
  height: calc(94% / 8);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.step:active {
  animation: bounce 0.3s ease-in-out;
}

.step {
  border: solid 3px var(--sequencer-primary-color);
  border-radius: 4px;
  height: 100%;
  background-color: rgb(105, 105, 105);
  cursor: pointer;
  opacity: 0.6;
  box-sizing: border-box;
}

.step.beat[data-selected="off"] {
  background-color: #b0b0b0;
}
.stepper-controls[data-selected="on"] {
  border-radius: 0.2rem;
}
.step[data-selected="on"] {
  opacity: 0.6;
}
.step[data-ticking="on"][data-selected="on"] {
  animation: bounce 0.25s ease-in-out;
  opacity: 1;
}
[data-ticking="on"] {
  background-color: rgb(255, 251, 23);
}
.step.beat[data-ticking="on"] {
  background-color: rgb(178, 255, 62);
}

.step[data-selected="on"][data-stepper-id="0"] {
  background-color: var(--color-0);
}
.step[data-selected="on"][data-stepper-id="1"] {
  background-color: var(--color-1);
}
.step[data-selected="on"][data-stepper-id="2"] {
  background-color: var(--color-2);
}
.step[data-selected="on"][data-stepper-id="3"] {
  background-color: var(--color-3);
}
.step[data-selected="on"][data-stepper-id="4"] {
  background-color: var(--color-4);
}
.step[data-selected="on"][data-stepper-id="5"] {
  background-color: var(--color-5);
}
.step[data-selected="on"][data-stepper-id="6"] {
  background-color: var(--color-6);
}
.step[data-selected="on"][data-stepper-id="7"] {
  background-color: var(--color-7);
}

:root {
  --ring-width: 14%;
  --ring-space: 20%;
  --color-0: #0099ff; /* Cyan */
  --color-1: #b655ff; /* Hot Red */
  --color-2: #ffff00; /* Yellow */
  --color-3: #99ff00; /* Lime */
  --color-4: #ff7fff; /* Pink */
  --color-5: #ff6600ff; /* Orange */
  --color-6: #00ffff; /* Sky Blue */
  --color-7: #ff0066 /* salmon */;
}
