#steppers {
  /* box-sizing: content-box; */
  position: relative;
  flex: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.4rem;
}

.stepper {
  height: calc(94% / 8);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.step:active {
  animation: bounce 0.3s ease-in-out;
}
.step {
  margin-right: 2px;
  height: 100%;
  background-color: rgba(86, 86, 86);
  cursor: pointer;
  opacity: 0.4;
  box-sizing: border-box;
}

.step.beat[data-selected="off"] {
  background-color: #b0b0b0;
}
.stepper-controls[data-selected="on"] {
  border-radius: 0.2rem;
}
.step[data-selected="on"] {
  filter: brightness(0.6);
  opacity: 1;
}
.step[data-ticking="on"][data-selected="on"] {
  animation: bounce 0.3s ease-in-out;
  filter: brightness(1);
}
[data-ticking="on"] {
  background-color: rgb(255, 251, 23);
}
.step.beat[data-ticking="on"] {
  background-color: rgb(178, 255, 62);
}

.step[data-selected="on"][data-stepper-id="0"] {
  background-color: var(--color-0);
}
.step[data-selected="on"][data-stepper-id="1"] {
  background-color: var(--color-1);
}
.step[data-selected="on"][data-stepper-id="2"] {
  background-color: var(--color-2);
}
.step[data-selected="on"][data-stepper-id="3"] {
  background-color: var(--color-3);
}
.step[data-selected="on"][data-stepper-id="4"] {
  background-color: var(--color-4);
}
.step[data-selected="on"][data-stepper-id="5"] {
  background-color: var(--color-5);
}
.step[data-selected="on"][data-stepper-id="6"] {
  background-color: var(--color-6);
}
.step[data-selected="on"][data-stepper-id="7"] {
  background-color: var(--color-7);
}

/* ACTIVE STEP ANIMATION */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
