#steppers-controls {
  height: 100%;
  width: 30%;
  min-width: 400px;
  display: flex;
  flex: 2;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
}

.stepper-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(94% / 8);
  background-color: rgb(64, 63, 63);
  box-sizing: border-box;
  color: white;
  border-left: 0.5rem solid transparent;
  border-radius: 4px;
}

.stepper-controls[data-selected="off"] {
  border-color: rgb(80, 80, 80);
}

.stepper-controls span {
  box-sizing: border-box;
}

.solo-mute-container,
.stepper-info-container,
.stepper-resize-container,
.delete-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  font-size: 0.8rem;
}

.stepper-info-container {
  flex: 1;
}

.solo-mute-container {
  flex: 2;
}

.stepper-resize-container {
  flex: 8;
}

.delete-container {
  flex: 1;
}

.clear-btn {
  background-color: rgb(28, 28, 28);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-size: 0.6rem;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.clear-img {
  color: green;
  max-height: 50%;
}

.clear-img svg {
  fill: green;
  stroke: green;
}

.clear-svg {
  stroke: blue;
  fill: blue;
}
.clear-btn:active {
  animation: bounce 0.3s ease-in-out;
}

.clear-btn:hover:active {
  background-color: rgb(133, 133, 133);
  animation: bounce 0.3s ease-in-out;
}

.clear-btn span {
  text-align: center;
}
.clear-btn:hover {
  color: rgb(38, 38, 38);
  background-color: rgb(255, 255, 255);
}

.clear-btn img {
  width: 100%;
  height: 100%;
}
