.toggle {
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
  height: 1.4rem;
  width: 1.6rem;
  box-sizing: border-box;
}

.toggle,
button {
  border-radius: 4px;
  cursor: pointer;
}

.toggle button {
  background: none;
  border: none;
  outline: none;
}

.toggle:active {
  animation: bounce 0.3s ease-in-out;
}

.toggle-checked {
  opacity: 1;
  border-width: 0.15rem;
  border-style: solid;
  background-color: black;
}

.toggle-label {
  font-weight: 300;
  color: rgb(238, 238, 238);
}
