name: Test-Build-Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Build project
        run: npm run build

      - name: Deploy to VPS
        uses: easingthemes/ssh-deploy@v5.0.3
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.SSH_HOST }}
          REMOTE_USER: ${{ secrets.SSH_USER }}
          REMOTE_PORT: ${{ secrets.SSH_PORT }}
          SOURCE: "dist/"
          TARGET: ./ridm_build
          EXCLUDE: "/node_modules/, /.git/"
          SCRIPT_BEFORE: |
            echo '****** SCRIPT BEFORE: ******'
            whoami
            echo '------- current dir: ------'
            ls -al
          SCRIPT_AFTER: |
            echo '****** SCRIPT AFTER ******'
            echo '------- current dir: ------'
            ls -al
            echo '------- deploy dir: ------'
            ls -al ./ridm_build
            cp -r ./ridm_build ${{ secrets.DEPLOY_PATH }}
            ls -al ${{ secrets.DEPLOY_PATH }}
            echo '-------------- rsync output:'
            echo $RSYNC_STDOUT
